@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --element-border-radius: 15px;
  
  --semibold-font-weight: 600;
  --regular-font-weight: 400;

  
  --small-font-size: 14px;
  --medium-font-size: 17px;
  --large-font-size: 21px;
  


  --dark-blue-color: #02385C;
}
