.sidebar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25vh;
  width: 25vw;
  max-width: 175px;
  height: 92vh;
  padding: 30px 50px; 
  background-color: white;
  border-right: 1px var(--dark-blue-color) solid;
}

.sidebar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--small-font-size);
  text-align: left;
}