.sidebar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20vh;
  width: 25vw;
  max-width: 175px;
  height: 92vh;
  padding: 30px 50px; 
  /* padding-left: 5vw; */
  background-color: white;

}

.sidebar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}