.sidebar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40vh;
  width: 20vw;
  max-width: 130px;
  height: 100vh;
  padding: 30px 50px; 
  /* padding-left: 5vw; */
  background-color: #0000ff;

}

.sidebar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}