*{
  box-sizing: border-box;
}

.subjects__container {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.subjects__subjects {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.subjects__subjects__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  font-weight: var(--semibold-font-weight);
  color: var(--dark-blue-color);
  font-size: var(--medium-font-size);

}

.subjects__subjects__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  max-height: 250px;
  width: 18vw;
  max-width: 225px;
  background-color: white;
  border-radius: var(--element-border-radius);

}

#subjects__subjects__add {
  background-image: linear-gradient(to top right, 
  rgba(161, 195, 217, 1), 
  rgba(161, 195, 217, 0.75), 
  rgba(161, 195, 217, 0.5));
}

.subjects__modes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  font-weight: var(--semibold-font-weight);
  color: var(--dark-blue-color);
  font-size: var(--medium-font-size);
  width: 80vw;
}

.subjects__mode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  max-height: 350px;
  width: 30vw;
  max-width: 300px;
  background-color: white;
  border-radius: var(--element-border-radius);
}