.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 8vh; 
  background-color: whote;
}

.header__content {
  display: flex;
  width: 95vw;
  align-items: center;
  justify-content: space-between;
}

.header__profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__profile__info p{
  margin:0;
}

